<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">产品型号:</label>
        <div class="col-xs-12 col-sm-8"><input class="form-control selectpage" data-rule="required" data-source="cpq/product_model/index" data-field="name" name="row[model_id]" value="{$row.model_id|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">参数定义:</label>
        <div class="col-xs-12 col-sm-8"><input class="form-control selectpage" data-rule="required" data-source="cpq/parameter_definition/index" data-field="name" name="row[parameter_id]" value="{$row.parameter_id|htmlentities}"></div>
    </div>
    <div class="form-group"><label class="control-label col-xs-12 col-sm-2">参数值:</label><div class="col-xs-12 col-sm-8"><textarea class="form-control" rows="3" name="row[value]">{$row.value|htmlentities}</textarea></div></div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">可配置:</label><div class="col-xs-12 col-sm-3">{:build_radios('row[is_configurable]', ['1'=>'是','0'=>'否'], $row.is_configurable)}</div>
        <label class="control-label col-xs-12 col-sm-2">必填:</label><div class="col-xs-12 col-sm-3">{:build_radios('row[is_required]', ['1'=>'是','0'=>'否'], $row.is_required)}</div>
    </div>
    <div class="form-group"><label class="control-label col-xs-12 col-sm-2">排序:</label><div class="col-xs-12 col-sm-3"><input class="form-control" type="number" name="row[sort]" value="{$row.sort|htmlentities}"></div></div>
    <div class="form-group layer-footer"><label class="control-label col-xs-12 col-sm-2"></label><div class="col-xs-12 col-sm-8"><button type="submit" class="btn btn-primary btn-embossed disabled">保存</button></div></div>
</form>
