<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[version]" value="{$row.version|htmlentities}">
    <input type="hidden" name="row[status]" value="{$row.status|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">策略编码:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[code]" value="{$row.code|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">策略名称:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[name]" value="{$row.name|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公司:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[company]" value="{$row.company|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">业务板块:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[business_unit]" value="{$row.business_unit|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">市场范围:</label>
        <div class="col-xs-12 col-sm-3">{:build_select('row[market_scope]', $marketScopeList, $row.market_scope, ['class'=>'form-control selectpicker'])}</div>
        <label class="control-label col-xs-12 col-sm-2">区域编码:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[region_code]" value="{$row.region_code|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客户等级:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[customer_level]" value="{$row.customer_level|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">代理等级:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[agent_level]" value="{$row.agent_level|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客户:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control selectpage" data-source="cpq/customer/index" data-field="name" name="row[customer_id]" value="{$row.customer_id|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">指定代理商:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control selectpage" data-source="cpq/agent/index" data-field="code" name="row[agent_id]" value="{$row.agent_id|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">产品线:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[product_line]" value="{$row.product_line|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">对象类型:</label>
        <div class="col-xs-12 col-sm-3">{:build_select('row[target_type]', $targetTypeList, $row.target_type, ['class'=>'form-control selectpicker', 'data-rule'=>'required', 'id'=>'cpq-target-type'])}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">定价对象:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" id="cpq-target-id" data-source="cpq/price_entry/selecttarget" data-field="name" data-primary-key="id" data-rule="required" name="row[target_id]" value="{$row.target_id|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">币种:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" maxlength="3" name="row[currency]" value="{$row.currency|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">指导价:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[guide_price]" value="{$row.guide_price|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">产线控制价:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[line_floor]" value="{$row.line_floor|htmlentities}"></div>
    </div>
    {if $canViewCost}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">成本价:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[cost]" value="{$row.cost|htmlentities}"></div>
        {if $canViewCompanyFloor}
        <label class="control-label col-xs-12 col-sm-2">公司控制价:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[company_floor]" value="{$row.company_floor|htmlentities}"></div>
        {/if}
    </div>
    {elseif $canViewCompanyFloor /}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公司控制价:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[company_floor]" value="{$row.company_floor|htmlentities}"></div>
    </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">优先级:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" type="number" name="row[priority]" value="{$row.priority|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">生效日期:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control datetimepicker" data-rule="required" data-date-format="YYYY-MM-DD" name="row[effective_date]" value="{$row.effective_date|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">失效日期:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control datetimepicker" data-date-format="YYYY-MM-DD" name="row[expiry_date]" value="{$row.expiry_date|htmlentities}"></div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8"><button type="submit" class="btn btn-primary btn-embossed disabled">保存</button></div>
    </div>
</form>
