<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[owner_id]" value="{$row.owner_id|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客户编码:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[code]" value="{$row.code|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">客户类型:</label>
        <div class="col-xs-12 col-sm-3">{:build_radios('row[type]', $typeList, $row.type)}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">中文名称:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" data-rule="required" name="row[name]" value="{$row.name|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">英文名称:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[name_en]" value="{$row.name_en|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">统一信用代码:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[credit_code]" value="{$row.credit_code|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">国家/地区编码:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[country_code]" value="{$row.country_code|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属区域:</label>
        <div class="col-xs-12 col-sm-8"><input class="form-control selectpage" data-source="cpq/region/index" data-field="name" name="row[region_id]" value="{$row.region_id|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">客户等级:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control selectpage" data-source="cpq/customer_level/index" data-field="name" name="row[customer_level_id]" value="{$row.customer_level_id|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">所属代理商:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control selectpage" data-source="cpq/agent/index" data-field="code" name="row[agent_id]" value="{$row.agent_id|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">默认币种:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" maxlength="3" name="row[default_currency]" value="{$row.default_currency|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">纳税人识别号:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[tax_no]" value="{$row.tax_no|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">付款条件:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[payment_terms]" value="{$row.payment_terms|htmlentities}"></div>
        <label class="control-label col-xs-12 col-sm-2">贸易条款:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control" name="row[trade_terms]" value="{$row.trade_terms|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">所属销售组织:</label>
        <div class="col-xs-12 col-sm-3"><input class="form-control selectpage" data-source="cpq/sales_org/index" data-field="name" name="row[sales_org_id]" value="{$row.sales_org_id|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">{:build_radios('row[status]', $statusList, $row.status)}</div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8"><textarea class="form-control" rows="4" name="row[remark]">{$row.remark|htmlentities}</textarea></div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8"><button type="submit" class="btn btn-primary btn-embossed disabled">保存</button></div>
    </div>
</form>
