<form class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {if isset($refCount) && $refCount > 0}
    <div class="alert alert-warning" style="margin:0 15px 10px">该字典值已被业务引用 {$refCount} 次：只能停用，不能修改编码、分类或显示名。</div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">字典分类编码:</label>
        <div class="col-xs-12 col-sm-7"><input class="form-control" data-rule="required" maxlength="64" name="row[dictionary_code]" value="{$row.dictionary_code|htmlentities}"><p class="help-block">1-64 位字母/数字/._-；系统参数固定为 system_param。</p></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">字典值编码:</label>
        <div class="col-xs-12 col-sm-7"><input class="form-control" data-rule="required" maxlength="64" name="row[value_code]" value="{$row.value_code|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">显示名:</label>
        <div class="col-xs-12 col-sm-7"><input class="form-control" data-rule="required" maxlength="120" name="row[label]" value="{$row.label|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">排序:</label>
        <div class="col-xs-12 col-sm-7"><input class="form-control" type="number" min="0" name="row[sort]" value="{$row.sort|htmlentities}"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">状态:</label>
        <div class="col-xs-12 col-sm-7">
            {:build_select('row[status]', $statusList, $row.status, ['class'=>'form-control selectpicker'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-3"></label>
        <div class="col-xs-12 col-sm-7"><button type="submit" class="btn btn-primary btn-embossed disabled">保存</button></div>
    </div>
</form>
